<div *ng-for="#days_time_state of schedule.schedule; #i = index">
    <div class="row">
        <div class="col s12 m12 l6">
            <days-time-selector [days_time]="days_time_state" (change)="days_time_state.dirty = true"></days-time-selector>
        </div>
        <div class="col s10 m10 l4">
            <state [state]="days_time_state.state" (change)="days_time_state.dirty = true"></state>
        </div>
        <div class="col s2 input-field">
            <a class="btn-floating waves-effect waves-light red" (^click)="remove(days_time_state)"><i
                    class="material-icons">remove</i></a>

            <a *ng-if="days_time_state.dirty" (^click)="update(days_time_state)" class="btn-flat">
                <i class="material-icons">done</i>
            </a>
        </div>
    </div>
</div>
<a class="btn-floating waves-effect waves-light red" (^click)="add()"><i class="material-icons">add</i></a>
