<div class="row">
    <div class="input-field col s12 m5">
        <input id="AC_target" [(ng-model)]="state.AC_target" (input)="update()" type="number" class="validate" >
        <label for="AC_target" class="active">Air Conditional Target</label>
    </div>
    <div class="input-field col s10 m5">
        <input id="heater_target" [(ng-model)]="state.heater_target" type="number" (input)="update()" class="validate">
        <label for="heater_target" class="active">Heater Target</label>
    </div>
    <div class="input-field col s2">
        <input [id]="'fan' + index" type="checkbox" [(ng-model)]="state.fan">
        <label [attr.for]="'fan' + index">Fan</label>
    </div>
</div>
