<nav>
    <div class="nav-wrapper">

        <a  [router-link]="['/index']" class="brand-logo">{{title}}</a>

        <a href="#" data-activates="side-bar" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <span  *ng-for="#link of links">
                <li *ng-if="!link.require_login || users.isLoggedIn"><a [router-link]="[link.component]">{{link.text}}</a></li>
            </span>
        </ul>

        <ul class="side-nav" id="side-bar">
            <span  *ng-for="#link of links">
                <li *ng-if="!link.require_login || users.isLoggedIn"><a [router-link]="[link.component]">{{link.text}}</a></li>
            </span>
        </ul>
        <div *ng-if="backend.loading" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</nav>